{% load static %}

<nav class="navbar navbar-expand-lg pt-7 pt-lg-4 pb-6 pb-lg-3">
  <div class="container">
    <a class="navbar-brand py-0 m-0 mx-auto" href="/">
      <img src="{% static 'img/disco-logo.svg' %}" alt="Disco">
    </a>
    {% comment %} <div class="nav-wrapper">
      <div class="flex-grow-0 flex-shrink-0 collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Programme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
      <div class="buttons-wrapper">
        <a class="btn btn-primary" href="#">Register</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <div class="toggler-line"></div>
          <div class="toggler-line"></div>
        </button>
      </div>
    </div> {% endcomment %}
  </div>
</nav>
