<form action="{% url 'registration' %}" id="individual_form" method="post" class="{% if submitted_form != 'individual' %}d-none{% endif %}">
    {% csrf_token %}

    <!-- NAME -->
    <div class="my-6">
        <label for="{{ individual_form.name.id_for_label }}" class="form-label">Name and surname</label>
        {{ individual_form.name }}
        {% if individual_form.name.errors %}
        <p class="error">{{ individual_form.name.errors }}</p>
        {% endif %}
    </div>

    <!-- EMAIL -->
    <div class="my-6">
        <label for="{{ individual_form.email.id_for_label }}" class="form-label">Email address</label>
        {{ individual_form.email }}
        {% if individual_form.email.errors %}
        <p class="error">{{ individual_form.email.errors }}</p>
        {% endif %}
    </div>

    <!-- ORGANISATION (OPTIONAL) -->
    <div class="my-6">
        <label for="{{ individual_form.organisation_name.id_for_label }}" class="form-label">Organisation (optional)</label>
        {{ individual_form.organisation_name }}
        {% if individual_form.organisation_name.errors %}
        <p class="error">{{ individual_form.organisation_name.errors }}</p>
        {% endif %}
    </div>

    <!-- COUNTRY  -->
    <div class="my-6">
        <label for="{{ individual_form.country.id_for_label }}" class="form-label">Country</label>
        {{ individual_form.country }}
        {% if individual_form.country.errors %}
        <p class="error">{{ individual_form.country.errors }}</p>
        {% endif %}
    </div>

    <!-- SCHOLARSHIP OPTIONS -->
    <div id="scholarship-form-section" class="d-none ms-6 mb-7">
        <p class="big">
        GREAT NEWS!
        </p>
        <p class="big">
        Your country is eligible for the Powered by The Netherlands Scholarship programme.
        </p>
        <p>Powered by The Netherlands Scholarship is a 12-country programme aiming to make participation at DISCO Slovenia 2023 accessible to everyone. If you feel you would benefit from this scholarship, please select the “Yes, I would like to apply!” option below and fill out the questionnaire. We will notify you of the status of your application no later than 15 September 2023.</p>
        <p>The scholarship covers your registration fee for the conference and your accommodation in Ljubljana, Slovenia, for the duration of the event. However, as we will need some time to process these applications – and Ljubljana is notoriously overbooked –, please book your accommodation independently, making sure that your provider’s cancellation policy allows you to cancel the booking if your scholarship gets approved.</p>

        <div class="my-6 form-check">
        <input type="checkbox" name="individual-applied_for_scholarship" id="id_individual-applied_for_scholarship" class="form-check-input" {% if individual_form.applied_for_scholarship.value %}checked{% endif %}>
        <label for="id_individual-applied_for_scholarship" class="form-check-label">
            <p class="mb-0">Yes, I would like to apply!</p>
        </label>
        {% if individual_form.applied_for_scholarship.errors %}
        <p class="error">{{ individual_form.applied_for_scholarship.errors }}</p>
        {% endif %}
        </div>

        <div id="scholarship-yes-form-section" class="{% if not individual_form.applied_for_scholarship.value %}d-none{% endif %}">

        <div class="mb-5">
            <label for="{{ individual_form.previously_supported.id_for_label }}" class="form-label">Have you ever been supported by the Netherlands? If yes, please state which (most recent) project and when?</label>
            {% for error in individual_form.previously_supported.errors %}
            <p class="error my-2">{{ error }}</p>
            {% endfor %}
            {{ individual_form.previously_supported }}
        </div>

        <div class="mb-5">
            <label for="{{ individual_form.scholarship_motivation.id_for_label }}" class="form-label">Why should you receive the scholarship? (max 200 words)</label>
            {% for error in individual_form.scholarship_motivation.errors %}
            <p class="error my-2">{{ error }}</p>
            {% endfor %}
            {{individual_form.scholarship_motivation}}
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" name="individual-scholarship_checkbox" id="id_individual-scholarship_checkbox" class="form-check-input">
            <label for="id_individual-scholarship_checkbox" class="form-check-label">By applying for the Powered by The Netherlands Scholarship, you agree that your name and relevant (contact) details are shared with the Dutch embassy in your country in order to make a selection. For this purpose the embassy may contact you and/or invite you for an introductory meeting. Danes je nov dan will inform all applicants on the embassy’s decision. The decision is final and not open to appeal.</label>
            {% for error in individual_form.scholarship_checkbox.errors %}
            <p class="error my-2">{{ error }}</p>
            {% endfor %}
        </div>

        </div>
    </div>

    <!-- REGISTRATION FEE -->
    <div id="registration-fee-form-section" class="{% if individual_form.applied_for_scholarship.value %}d-none{% endif %}">
        <div class="mb-7">
        <div class="form-text mb-2">Choose your registration fee.</div>
        <p>Registration fee for DISCO is €50 plus VAT.</p>
        <p>If the standard registration fee is not affordable to you, you can choose the subsidised price of €25 plus VAT. For those who are able to contribute more and support participants with the subsidised fee, we encourage you to select the solidarity price of €75 plus VAT.</p>
        </div>

        <div class="mb-3">

        <div class="form-check my-3">
            <input type="radio" name="individual-registration_fee" value="50" id="id_individual-registration_fee_1" class="form-check-input" checked>
            <label for="id_individual-registration_fee_1" class="form-check-label">
            <p class="m-0">€50 plus VAT (€61 total)</p>
            </label>
        </div>

        <hr class="w-50" />

        <div class="form-check my-3">
            <input type="radio" name="individual-registration_fee" value="25" id="id_individual-registration_fee_2" class="form-check-input">
            <label for="id_individual-registration_fee_2" class="form-check-label">
            <p class="m-0">€25 plus VAT or €30.50 in total (for those unable to afford the standard fee)</p>
            </label>
        </div>

        <div class="form-check my-3">
            <input type="radio" name="individual-registration_fee" value="75" id="id_individual-registration_fee_3" class="form-check-input">
            <label for="id_individual-registration_fee_3" class="form-check-label">
            <p class="m-0">€75 plus VAT or €91.50 in total (for those who want to support participants with subsidised fee)</p>
            </label>
        </div>

        {% if individual_form.registration_fee.errors %}
        <p class="error">{{ individual_form.registration_fee.errors }}</p>
        {% endif %}
        </div>

    </div>

    <!-- newsletter -->
    <div id="newsletter-section" class="mt-7 mb-3 form-check">
        <input type="checkbox" name="individual-newsletter" id="{{ individual_form.newsletter.id_for_label }}" class="form-check-input">
        <label for="{{ individual_form.newsletter.id_for_label }}" class="form-check-label">
            <p class="small">Yes, I want to receive updates about the DISCO Slovenia conference. Danes je nov dan will store my email and delete it whenever I ask them in accordance with the organisation's privacy policy.</p>
        </label>
    </div>

    <button type="submit" name="individual-form" class="btn btn-primary" value="Register now">
        Register now
    </button>

</form>
