{% load static %}

<nav class="navbar navbar-expand-lg fixed-top m-3">
  <div class="container-fluid d-flex align-items-center p-0">
    <a class="navbar-brand d-flex align-items-center p-0" href="/">
      <img src="{% static 'img/disco-logo.svg' %}" alt="Disco">
      <p class="mb-0">DISCO<br/>Slovenia</p>
    </a>

    <div class="nav-wrapper flex-grow-1">
      <div class="collapse navbar-collapse justify-content-center" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#news">News {{  }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#speakers">Speakers &amp; Programme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#location">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scholarship">Scholarship</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="buttons-wrapper">
      <a class="btn btn-primary" href="/register">REGISTER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <div class="toggler-line"></div>
        <div class="toggler-line"></div>
      </button>
    </div>
  </div>
</nav>
