{% load static %}

<div class="newsletter bg-grid py-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 pill black-pill">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h2 class="text-center">Stay tuned for more DISCO news</h2>
                        <p class="text-center">Be the first to receive exciting updates, exclusive content, and insider news about the conference by subscribing to our newsletter!</p>
                    </div>
                    <div class="col-6">
                        <form action="javascript:;" id="subscribe-form">
                            <div class="subscribe-group">
                              <button class="btn btn-primary" type="submit">Subscribe</button>
                              <input type="email" required class="form-control" placeholder="Your email address">
                            </div>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" required id="subscribe-check">
                              <label class="form-check-label text-white" for="subscribe-check">
                                Yes, I want to receive updates about the DISCO Slovenia conference and be among the first
                                to know when registration opens. Danes je nov dan will store my email and delete it
                                whenever I ask them to.
                              </label>
                            </div>
                        </form>
                        <script type="module" src="{% static 'js/parking_subscribe.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
