{% extends "new_base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}bg-black register-page{% endblock %}

{% block header %}
  {% include 'home/partials/new_header.html' %}
{% endblock header %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7">
      <h1 class="mt-7 mb-5">Call for Speakers</h1>
      <p>We are looking for short presentations about projects and initiatives related to digital sovereignty and how civil society is actively reimagining the idea and direction of technological progress. We are interested in both finished and ongoing activities.</p>
      <p>You are invited to apply with a 15-minute presentation. Those selected will be organised into several panels that will conclude with a moderated debate.</p>
      <p>We are covering the registration fee and accommodation for all of our speakers. We also have limited funds available for travel subsidies, which are available to those who might need them.</p>
      <p>To apply, please fill out the form below by 31 August 2023. We will notify you about the status of your application no later than 10 September.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">
      <hr class="divider" />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7">
        <form action="{% url 'apply-to-be-a-speaker' %}" method="post">
            {% csrf_token %}
        
              <!-- <hr class="divider-pink" /> -->
        
              <!-- NAME -->
              <div class="my-6">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% for error in form.name.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>

              <!-- EMAIL -->
              <div class="my-6">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% for error in form.email.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>
        
              <!-- AFFILIATION -->
              <div class="my-6">
                {{ form.affiliation.label_tag }}
                {{ form.affiliation }}
                {% for error in form.affiliation.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>

              <!-- COUNTRY  -->
              <div class="my-6">
                <label for="{{ form.country.id_for_label }}" class="form-label">What country are you travelling from?</label>
                {{ form.country }}
                {% for error in form.country.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>

              <!-- PROJECT DESCRIPTION -->
              <div class="my-6">
                {{ form.project.label_tag }}
                {{ form.project }}
                {% for error in form.project.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>

              <!-- PROJECT RELEVANCY -->
              <div class="my-6">
                {{ form.project_relevancy.label_tag }}
                {{ form.project_relevancy }}
                {% for error in form.project_relevancy.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>

              <!-- PROJECT BENEFIT -->
              <div class="my-6">
                {{ form.project_benefit.label_tag }}
                {{ form.project_benefit }}
                {% for error in form.project_benefit.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>
        
              <!-- TRAVEL SUBSIDY -->
              <div class="my-6 form-check">
                <input type="checkbox" name="travel_subsidy" id="id_travel_subsidy" class="form-check-input">
                <label for="{{ form.travel_subsidy.id_for_label }}" class="form-check-label">I need help with covering travel costs.</label>
                {% for error in form.travel_subsidy.errors %}
                <p class="error my-2">{{ error }}</p>
                {% endfor %}
              </div>
        
            <button type="submit" class="btn btn-primary">
              Submit application
            </button>
        
          </form>

    </div>
  </div>
</div>

<!-- <script type="module" src="{% static 'js/registration.js' %}"></script> -->

{% endblock content %}
