{% extends "new_base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}bg-grid{% endblock %}

{% block header %}
  {% include 'home/partials/new_header.html' %}
{% endblock header %}

{% block content %}

<div class="container location-page">
  <div class="row my-7">
    <div class="col-12">
      <div id="map"></div>
      <script>var __MARKER_STATIC_URL__ = "{% static 'img/location-pin.png' %}";</script>
      <script type="module" src="{% static 'js/map.js' %}"></script>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 rich-text">
      {{ page.description|richtext }}
    </div>
  </div>

  <div class="row my-7">
    <div class="col-12">
      <hr class="divider" />
    </div>
  </div>

  <div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-md-10 text-center rich-text accommodation">
      <h2 class="mb-5">Accommodation</h2>
      <p class="accommodation-description">{{ page.accommodation_description }}</p>
    </div>
  </div>

  <div class="row justify-content-center my-7">
    {% for accommodation in page.accommodation_options %}
      <div class="col-12 col-md-6 col-lg-3">
        <a href="{{ accommodation.value.link }}" target="_blank" class="card">
          {% image accommodation.value.image original class="card-img-top img-fluid" %}
          <div class="card-body px-0">
            <h5 class="card-title">{{ accommodation.value.title }}</h5>
            <p class="card-text">{{ accommodation.value.short_description }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>
</div>

<div class="newsletter bg-grid">
  {% include 'home/partials/newsletter.html' %}
</div>

{% endblock content %}
