{% extends "new_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}bg-black{% endblock %}

{% block header %}
  {% include 'home/partials/new_header.html' %}
{% endblock header %}

{% block content %}

{% if show_speakers %}
<div class="speakers" id="speakers">
  <div class="spinning-banner heading-banner">
    <div>
      <h2 class="spinning-content">Speakers –</h2>
    </div>
  </div>
  <div class="container">
    <div class="row my-7">
      {% for speaker in speakers %}
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          {% if speaker.news_page %}
            <a href="{% pageurl speaker.news_page %}">
              {% image speaker.image original class="card-img-top" %}
            </a>
            {% else %}
            {% image speaker.image original class="card-img-top" %}
            {% endif %}
          <div class="card-body px-0">
            <h5 class="card-title">
              {% if speaker.news_page %}
              <a href="{% pageurl speaker.news_page %}">{{ speaker.name }}</a>
              {% else %}
              {{ speaker.name }}
              {% endif %}
            </h5>
            <p class="card-text">{{ speaker.short_description }}</p>
            <hr />
            <div class="social-media">
              {% for sm in speaker.social_media %}
              <a href="{{ sm.value}}" target="_blank" class="d-flex align-items-center justify-content-center">
                {% include 'home/partials/social_media_icon.html' with icon_type=sm.block_type only %}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="programme" id="programme">
  <div class="spinning-banner heading-banner">
    <div>
      <h2 class="spinning-content">Programme –</h2>
    </div>
  </div>
  <div class="container">
    <div class="globe-bg globe--left"></div>
    <div class="globe-bg globe--right"></div>
    {% for day in programme %}
    <div class="row my-7">
      <div class="col-12">
        <div class="programme-day d-flex">
          <a name="{{ day.title|slugify }}"></a>
          <div class="programme-day-date">
            {{ day.date|date:"j. n." }}
          </div>
          <div class="programme-day-column line-right">
            <div>
              <h3 class="text-center">{{ day.title }}</h3>
            </div>
            <div class="programme-day-column-row d-flex">
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#FF4FDE" width="26" height="26" viewBox="0 0 26 26" class="me-3">
                  <path d="M20.7 16.37a.41.41 0 0 0-.38-.25h-2.76c2.43-3.14 3.66-5.64 3.66-7.44a8.22 8.22 0 0 0-16.44 0c0 1.8 1.23 4.3 3.66 7.44H5.68c-.17 0-.31.1-.38.25l-3.37 8.26a.4.4 0 0 0 .37.56h21.4a.4.4 0 0 0 .37-.56l-3.37-8.26ZM8.34 8.68a4.67 4.67 0 1 1 9.33.01 4.67 4.67 0 0 1-9.33 0ZM2.9 24.38l3.04-7.45H9.1c.34.42.68.83 1.02 1.21l.32.37a50.85 50.85 0 0 0 2.29 2.43.4.4 0 0 0 .56 0c.02 0 1.02-.99 2.3-2.43l.31-.37c.33-.38.68-.78 1.02-1.2h3.14l3.04 7.44H2.91Z"/>
                </svg>
                <div class="d-flex flex-column">
                  <span>Location</span>
                  <span>{{ day.location }}</span>
                </div>
              </div>
              <div class="d-flex flex-column">
                <span>Open to</span>
                <span>{{ day.available_for }}</span>
              </div>
            </div>
            <div class="p-7 text-center">
              {% image day.image original class="img-fluid" %}
            </div>
          </div>
          <div class="programme-day-column d-flex flex-column">
            <div class="p-6 flex-grow-1 d-flex align-items-center">
              <p class="mb-0">{{ day.description }}</p>
            </div>
            {% if day.timeslots %}
            <div class="p-4">
              <h4 class="text-center mb-0">Confirmed sessions</h4>
            </div>
            {% for timeslot in day.timeslots %}
            <div class="d-flex timeslot">
              <div class="programme-day-column p-3">
                <h5 class="mb-0">{{ timeslot.value.time }}</h5>
              </div>
              <div class="programme-day-column">
                {% for panel in timeslot.value.panels_list %}
                <div class="panel m-3">
                  <h5>{{ panel.value.name }}</h5>
                  {% if panel.value.speaker_page %}
                  <h6>
                    <a href="{% pageurl panel.value.speaker_page %}">{{ panel.value.speaker_page }}</a>
                  </h6>
                  {% endif %}
                  {% if panel.value.description %}
                  <p>{{ panel.value.description }}</p>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="newsletter bg-grid">
  {% include 'home/partials/newsletter.html' %}
</div>

{% endblock content %}
