{% extends "new_base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}bg-grid{% endblock %}

{% block header %}
  {% include 'home/partials/new_header.html' %}
{% endblock header %}

{% block content %}

<div class="container thank-you-page">
  <div class="row my-5">
    <div class="col-12 col-lg-8">
      <h1 class="mb-4">Thank you for your application!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

{% endblock content %}
