{% extends "new_base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}bg-grid{% endblock %}

{% block header %}
  {% include 'home/partials/new_header.html' %}
{% endblock header %}

{% block content %}

<div class="container thank-you-page">
  <div class="row my-5">
    <div class="col-12 col-lg-8">
      <h1 class="mb-4">Thank you for applying to showcase your work at DISCO Slovenia!</h1>
      <p>We will review your submission and get back to you with our decision as soon as possible.</p>
    </div>
  </div>
</div>

{% endblock content %}
