.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  font-size: 10px;
  position: relative;
  text-indent: -99999em;
  border-top: 1.1em solid $primary-bg-subtle;
  border-right: 1.1em solid $primary-bg-subtle;
  border-bottom: 1.1em solid $primary-bg-subtle;
  border-left: 1.1em solid $primary;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
