.newsletter {
    background-image: url("/static/img/globe-grid-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $disco-white;

    @include media-breakpoint-up(lg) {
        background-image: url("/static/img/globe-grid.svg");

    }

    .black-pill {
        background-color: $disco-black;

        h2 {
            color: $disco-white;
        }

        p {
            font-size: 18px;
        }
    }
}