.pill {
  border: 1px solid $disco-black;
  border-radius: 250px;
  padding: 50px 0;

  h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }

  form {
    margin-top: 20px;
    font-size: 22px;

    @include media-breakpoint-up(lg) {
      grid-column: 2;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 24px;
    }

    .alert {
      --bs-alert-border-radius: 1rem;
      max-width: 596px;
      font-size: 16px;
      text-align: center;
    }

    button {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 12px 24px;
      font-size: 20px;

      @include media-breakpoint-up(xxl) {
        padding: 13px 33px;
        font-size: 24px;
      }

      svg {
        width: 22px;
      }
    }

    .subscribe-group {
      position: relative;

      input {
        padding: 17px 24px;
        font-size: 20px;
        background-color: $white;

        @include media-breakpoint-up(xxl) {
          padding: 17px 32px;
          font-size: 24px;
        }

        &:not(:focus) {
          border-color: transparent;
        }

        &:disabled {
          border-color: $primary;
          background-color: $body-bg;
          color: $white;
        }
      }

      button + input {
        padding-right: 132px;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 4px;
      }
    }

    .form-check {
      padding-left: 32px;
      font-size: 14px;
      line-height: 1.2;

      .form-check-input {
        width: 24px;
        height: 24px;
        margin-top: 4px;
        margin-left: -32px;
        background-color: $body-bg;
        border-color: $white;

        &:checked {
          --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><path fill='%23fff' d='M116.47 38.05 97.63 21.91 51.51 71.5 28.06 50.74 11.53 69.19l41.9 37.28z'/></svg>");
          background-size: 81%;
        }
      }

      .form-check-label {
        max-width: 90%;
      }
    }
  }
}

.rich-text {
  h2,
  h3,
  h4 {
    color: $disco-white;

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px;
    line-height: 34px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    color: $disco-white;
  }
}

hr.divider {
  border-width: 2px;
  border-color: $disco-pink;
  opacity: 1;
  position: relative;
  margin: 40px 22px;
  overflow: visible;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-image: url("/static/img/disco-logo.svg"),
      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><circle fill='%23ff50de' cx='5' cy='5' r='5'/></svg>");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, 25%;
    position: absolute;
  }

  &::before {
    top: -24px;
    left: -22px;
  }

  &::after {
    top: -24px;
    right: -22px;
  }
}

.link-to-site {
  text-decoration: none;
  color: $disco-white;
  border-bottom: 1px solid $disco-white;

  span {
    font-size: 14px;
    line-height: 18px;
  }

  &::after {
    content: "→";
    padding-left: 5px;
  }

  &.back {
    &::before {
      content: "←";
      padding-right: 5px;
    }

    &::after {
      content: none;
      padding-left: 0;
    }
  }

  &:hover {
    color: $disco-grey;
  }
}

.logos-box {
  background-color: $disco-white;
  border: 1px solid $disco-grey;
  border-radius: 40px;
  padding: 40px;

  .logo {
    max-width: 160px;
  }

  &.support-nl {
    .logo {
      max-height: 85px;
      max-width: unset;
    }
  }
}

.sponsor-logos {
  display: flex;
  gap: 22px;

  .sponsor-logo-box {
    width: 102px;
    height: 90px;
    background: $disco-white;
    border: 1px solid $disco-grey;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

.page-wrapper {
  .hero {
    h1,
    h2,
    h3 {
      line-height: 0.9;
    }

    h1 {
      color: $disco-white;
      font-size: 96px;
      line-height: 0.85;
      margin-top: 80px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 48px;
      line-height: 1;
    }

    h2:last-child {
      margin-top: 50px;
      margin-bottom: 200px;
    }

    h3 {
      color: $disco-white;
      font-size: 72px;
      line-height: 1;
      padding-right: 150px;
    }

    p {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 50px;
    }
  }

  .news {
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
      font-size: 72px;
      color: $disco-white;
      margin-bottom: 40px;
    }

    .card {
      text-decoration: none;
      background-color: transparent;

      .card-img-top {
        height: 149px;
        object-fit: cover;
      }

      .card-title {
        font-size: 24px;
        line-height: 30px;
        color: $disco-white;
      }

      .card-subtitle {
        font-size: 11px;
        margin: 15px 0;
      }

      .card-text {
        font-size: 14px;
        line-height: 18px;
      }

      &:hover {
        .card-title {
          text-decoration: underline;
        }
      }
    }
  }

  .programme > .container {
    position: relative;

    > .globe-bg {
      position: absolute;
      top: 0;
      width: 382px;
      height: 382px;

      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 381.83 381.82'><path fill='%23ff6ee1' d='M262.63 13.98C165.09-25.56 53.53 21.65 13.98 119.2c-39.54 97.54 7.67 209.11 105.21 248.65 97.54 39.54 209.11-7.67 248.65-105.21 39.54-97.54-7.63-209.1-105.21-248.65zM3.47 184.93l51.78 20.99c-3.33 22.5-3.5 44.2-.7 64.17L14.36 253.8a188.32 188.32 0 0 1-10.9-68.87zm374.9 12.13-51.78-20.99c3.36-22.48 3.52-44.18.74-64.15l40.21 16.3a188.1 188.1 0 0 1 10.83 68.84zm-54.97-22.28-51.78-20.99c5.9-21.54 9.8-41.68 11.73-59.7l40.43 16.4c2.97 19.91 2.9 41.7-.38 64.3zm-106.6-43.21 22.44-55.36 40.75 16.52c-1.86 17.96-5.73 38.2-11.6 59.76zm50.7 24.18a550.8 550.8 0 0 1-19.33 56.62l-55.07-22.33 22.44-55.35zm-26.98-82.7 22.36-55.17c15.15 7.68 20.79 34.4 17.44 71.36L240.5 73.1zm-3.12-1.25-39.82-16.14c23.38-28.88 46-44.15 62.2-39.08zm-1.26 3.11-22.44 55.36-51.6-20.91c10.8-19.56 22.12-36.78 33.29-50.97zm-23.7 58.48-22.45 55.36-55.07-22.33a541.57 541.57 0 0 1 25.56-54.1zm-80.63 31.77-55.43-22.47a272.98 272.98 0 0 1 28.77-52.79l52.14 21.13a549.57 549.57 0 0 0-25.48 54.13zm-1.27 3.11a570.26 570.26 0 0 0-19.4 56.6l-52.13-21.14a275.24 275.24 0 0 1 16.07-57.94l55.43 22.47zm3.12 1.27 55.07 22.32-22.44 55.36-51.92-21.05a541.1 541.1 0 0 1 19.32-56.62zm31.37 80.8-22.44 55.36-40.72-16.5c1.87-17.97 5.73-38.2 11.6-59.77l51.6 20.92zm-23.7 58.47L119 363.88c-15.15-7.68-20.78-34.3-17.46-71.2zm3.11 1.26 39.78 16.13c-23.33 28.77-45.9 44.02-62.1 38.95zm1.26-3.11 22.44-55.36 51.6 20.92c-10.8 19.55-22.11 36.77-33.29 50.96l-40.71-16.5zm23.7-58.48 22.45-55.36 55.07 22.33a551.41 551.41 0 0 1-25.56 54.1l-51.92-21.05zm80.64-31.77 55.43 22.47a272.93 272.93 0 0 1-28.82 52.78l-52.13-21.14A549.57 549.57 0 0 0 250 216.7zm1.26-3.11a549.83 549.83 0 0 0 19.4-56.6l52.13 21.14a272.7 272.7 0 0 1-16.1 57.93zm32.4-123.04c2.8-30.05-.25-53.67-9.38-66.84 25.83 16.19 42.59 46.12 48.84 82.84zM194.22 54.3l-39.46-16c30.05-22 62.92-31.81 92.73-25.44-15.72 3.1-34.35 17.89-53.27 41.44zm-2.2 2.74c-11.15 14.24-22.38 31.45-33.14 51.02l-51.78-21c13.34-18.52 28.49-34.19 44.5-46.42zm-88.11 28.74-51.78-21a187.41 187.41 0 0 1 55.7-41.88l40.22 16.3c-15.87 12.42-30.9 28.09-44.14 46.57zm-1.98 2.82a275.67 275.67 0 0 0-28.7 52.82l-55.44-22.47a186.63 186.63 0 0 1 32-51.48zm-29.97 55.94a275.68 275.68 0 0 0-16.14 57.91L3.7 181.31c.98-19.82 5.17-39.8 12.84-59.25zm-13.5 62.61 51.75 20.97c-5.9 21.54-9.82 41.72-11.7 59.72l-40.4-16.37c-2.96-19.93-2.93-41.72.35-64.32zm39.72 84.18c-2.77 29.98.31 53.54 9.4 66.69-25.77-16.12-42.51-46-48.83-82.67zm89.41 36.24 39.43 15.99c-30.03 21.93-62.84 31.69-92.61 25.33 15.68-3.1 34.3-17.87 53.18-41.32zm2.16-2.75c11.18-14.22 22.41-31.44 33.18-51l51.74 20.97c-13.38 18.5-28.52 34.17-44.53 46.4zm88.15-28.72 51.74 20.97a187.63 187.63 0 0 1-55.78 41.85l-40.18-16.29c15.91-12.4 30.94-28.07 44.18-46.55zm1.98-2.83a275.35 275.35 0 0 0 28.74-52.8l55.43 22.47a186.67 186.67 0 0 1-32.04 51.47zm30-55.92a278.05 278.05 0 0 0 16.17-57.9l52.14 21.14a187.53 187.53 0 0 1-12.88 59.23zm56.1-113.42-39.17-15.88c-5-31.38-17.43-58.1-36.46-76.15a187.35 187.35 0 0 1 75.64 92.03zM230.29 7.58c-26.19-.28-53.75 10.23-79.2 29.27l-39.17-15.88A187.35 187.35 0 0 1 230.28 7.58zM15.97 258.08l39.14 15.87c5.03 31.3 17.44 57.97 36.41 75.96a187.2 187.2 0 0 1-75.55-91.83zm135.6 116.17c26.15.3 53.66-10.18 79.07-29.15l39.14 15.86a187.32 187.32 0 0 1-118.17 13.3z'/></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      pointer-events: none;
      user-select: none;

      &.globe--left {
        top: 550px;
        left: 0;
        transform: translateX(-70%);
      }

      &.globe--right {
        top: 50px;
        right: 0;
        transform: translateX(70%);
      }
    }
  }

  .speakers,
  .programme {
    padding-top: 120px;
    padding-bottom: 120px;

    .card {
      text-decoration: none;
      background-color: transparent;

      .card-img-top {
        height: 286px;
        object-fit: cover;
      }

      .card-title {
        font-size: 32px;
        color: $disco-white;
        line-height: 34px;
      }

      .card-text {
        font-size: 18px;
        line-height: 22px;
      }

      &a:hover {
        .card-title {
          text-decoration: underline;
        }
      }
    }

    .social-media {
      display: flex;

      a {
        width: 36px;
        height: 36px;
        border: 1px solid $disco-white;
        border-radius: 50%;
        margin-right: 15px;

        img,
        svg {
          max-width: 50%;
          max-height: 50%;
        }

        &:hover {
          background-color: $disco-pink;
          border-color: $disco-pink;
          color: $disco-black;
        }
      }
    }
  }

  .programme-day {
    position: relative;
    border: 1px solid $disco-white;
    background-color: $disco-black;

    h3 {
      font-size: 72px;
      margin: 40px 0;
    }

    h4 {
      font-size: 32px;
      line-height: 34px;
    }

    h3,
    h4,
    h5 {
      color: $disco-white;
    }

    p {
      font-size: 24px;
      line-height: 27px;
      color: $disco-white;
    }

    .programme-day-date {
      position: absolute;
      left: 0;
      top: -1em;
      padding: 4px 24px;
      background: $disco-white;
      border-radius: 1rem 1rem 0 0;
      font-size: 24px;
      transform-origin: bottom right;
      transform: translateX(-100%) rotate(-90deg);
      color: $disco-black;
    }

    .programme-day-column {
      flex-grow: 1;
      flex-basis: 50%;

      &:nth-child(2) {
        border-right: 1px solid $disco-white;
      }

      & > div:not(:last-child) {
        border-bottom: 1px solid $disco-white;
      }

      .btn-primary {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 13px 33px;
        font-size: 24px;
        width: 100%;
        max-width: 533px;

        svg {
          width: 19px;
          height: 14px;
          margin-left: 1rem;
        }
      }
    }

    .timeslot {
      .programme-day-column:first-child {
        flex-basis: 20%;
      }

      .programme-day-column:last-child {
        flex-basis: 80%;
      }
    }

    .programme-day-column-row {
      & > div {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 16px;

        span:first-child {
          font-size: 14px;
          line-height: 18px;
        }

        span:last-child {
          font-size: 24px;
          line-height: 27px;
          color: $disco-white;
        }

        &:first-child {
          border-right: 1px solid $disco-white;

          &::before {
            content: "";
          }
        }
      }
    }

    .panel {
      border-bottom: none !important;
      padding: 20px;
      border-radius: 25px;

      &:nth-child(odd) {
        background-color: $disco-pink;
      }

      &:nth-child(even) {
        background-color: $disco-bright-pink;
      }

      h5 {
        font-size: 24px;
        line-height: 30px;
      }

      h6 a {
        font-size: 18px;
        line-height: 22px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
      }

      h5,
      h6 a,
      p {
        color: $disco-black;
      }
    }
  }

  .location {
    padding-top: 120px;

    h2 {
      font-size: 72px;
      color: $disco-white;
    }

    .btn-primary {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 13px 33px;
      font-size: 24px;

      svg {
        width: 19px;
        height: 14px;
        margin-left: 1rem;
      }
    }
  }

  .scholarship {
    background-color: $disco-white;
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
      font-size: 72px;
      line-height: 66px;
      color: $disco-black;
      margin-bottom: 40px;
    }

    p {
      font-size: 24px;
      line-height: 27px;
      color: $disco-black;
      margin-bottom: 40px;
    }

    .btn-primary {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 13px 33px;
      font-size: 24px;

      svg {
        width: 19px;
        height: 14px;
        margin-left: 1rem;
      }
    }
  }

  .about {
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
      font-size: 72px;
      color: $disco-white;
      text-align: center;
      margin-bottom: 40px;
    }

    p {
      font-size: 24px;
      line-height: 27px;
      color: $disco-white;
    }
  }

  .organized-by {
    background-color: $disco-pink;
    padding-block: 64px;

    .white-pill {
      background-color: $disco-white;
      padding-top: 60px;
      padding-bottom: 60px;

      h2 {
        font-size: 48px;
        color: $disco-black;
        line-height: 48px;
        margin-bottom: 0;
      }

      p {
        font-size: 24px;
        color: $disco-black;
        line-height: 27px;
        margin-bottom: 0;
      }
    }
  }

  .supporters {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  footer > .container {
    background-color: $disco-black;
    padding: 40px;

    p {
      font-size: 32px;
      line-height: 34px;
      color: $disco-white;
      margin-bottom: 0;

      a {
        color: $disco-white;
        text-decoration: underline;

        &:hover {
          color: $disco-grey;
        }
      }
    }

    .social-media {
      display: flex;
      align-items: center;

      a.icon {
        width: 36px;
        height: 36px;
        border: 1px solid $disco-white;
        border-radius: 50%;
        margin-right: 15px;

        img,
        svg {
          max-width: 50%;
          max-height: 50%;
        }

        &:hover {
          background-color: $disco-pink;
          border-color: $disco-pink;
          color: $disco-black;
        }
      }

      a.link {
        font-size: 14px;
        line-height: 18px;
        color: $disco-white;
        text-decoration: underline;

        &:hover {
          color: $disco-grey;
        }
      }
    }
  }
}

.news-page {
  h1 {
    font-size: 72px;
    line-height: 66px;
    color: $disco-white;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: $disco-white;

    &.subtitle {
      font-size: 24px;
      line-height: 27px;
    }
  }
}

.location-page {
  .rich-text {
    > h2 {
      margin-bottom: 4rem;

      &:not(:first-child) {
        margin-top: 8rem;
      }
    }

    > p {
      margin-bottom: 3rem;
    }
  }

  .accommodation {
    max-width: 800px;

    .accommodation-description {
      font-size: 24px;
      line-height: 1.2;
    }
  }

  .card {
    text-decoration: none;
    background-color: transparent;

    .card-img-top {
      height: 149px;
      object-fit: cover;
    }

    .card-title {
      font-size: 24px;
      color: $disco-white;
      line-height: 30px;
    }

    .card-text {
      font-size: 14px;
      line-height: 18px;
    }

    &:hover {
      .card-title {
        text-decoration: underline;
      }
    }
  }
}

.thank-you-page {
  h1 {
    font-size: 36px;
    line-height: 1;
    color: $disco-white;

    @include media-breakpoint-up(md) {
      font-size: 48px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 72px;
    }
  }

  p {
    font-size: 18px;
    line-height: 22px;
    color: $disco-white;
  }
}

.register-page {
  .form-check {
    padding-left: 40px;

    input[type="radio"].form-check-input {
      width: 32px;
      height: 32px;
      margin-top: 0;
      margin-left: -40px;
    }

    input[type="checkbox"].form-check-input {
      width: 24px;
      height: 24px;
      margin-top: 4px;
      margin-left: -40px;
      background-color: $body-bg;
      border-color: $white;

      &:checked {
        --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><path fill='%23fff' d='M116.47 38.05 97.63 21.91 51.51 71.5 28.06 50.74 11.53 69.19l41.9 37.28z'/></svg>");
        background-size: 81%;
      }
    }

    .form-check-label {
      margin-top: 5px;
    }
  }

  select.form-control {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 14'><path fill='%23333' stroke='%23333' d='M16.75 1 9 13.07 1.25 1h15.5Z'/></svg>");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 20px 18px;
  }

  button[type="submit"].btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 33px;
    font-size: 24px;

    svg {
      width: 19px;
      height: 14px;
      margin-left: 1rem;
    }
  }
}
