.spinning-banner {
  overflow: hidden;
  position: relative;

  &.pink-banner {
    background-color: #000;
    height: 5rem;
    display: block;
  }

  &.heading-banner {
    height: 96px;
  }

  .spinning-content {
    display: inline;
  }
}

.spinning-banner {
  &.spin > div {
    animation: spin 20s linear infinite;
  }

  & > div {
    position: absolute;
    min-width: 100%;
    height: 100%;
    white-space: nowrap;

    &:last-child {
      transform: translateX(100%);
      animation-delay: -10s;
    }
  }

  &.pink-banner {
    background-color: $disco-pink;

    > div {
      color: $disco-black;
      font-size: 32px;
      padding-block: 20px;
    }
  }

  &.heading-banner > div {
    h2 {
      font-size: 96px;
      line-height: 84px;
      color: $disco-white;

      @include media-breakpoint-down(sm) {
        font-size: 64px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sticky-button {
  position: fixed;
  right: 3rem;
  bottom: 4.5rem;
  z-index: 99999;
  display: grid;
  width: 178px;
  height: 178px;
  align-items: center;

  @include media-breakpoint-down(sm) {
    width: 140px;
    height: 140px;
    right: 1rem;
    bottom: 2rem;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  > * {
    margin: 0;
    grid-area: 1 / 1;
    transform: rotate(-7.597deg);
  }

  > p {
    padding: 20px;
    color: $disco-black;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    a {
      color: inherit;
    }
  }
}
