{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">

        <title>DISCO Slovenia &ndash; Digital Sovereignty Conference</title>
        <meta name="twitter:title" content="DISCO Slovenia &ndash; Digital Sovereignty Conference">
        <meta property="og:title" content="DISCO Slovenia &ndash; Digital Sovereignty Conference">

        <meta name="description" content="Join us from 24 to 26 October and let's take back control over our digital future!">
        <meta name="twitter:description" content="Join us from 24 to 26 October and let's take back control over our digital future!">
        <meta property="og:description" content="Join us from 24 to 26 October and let's take back control over our digital future!">

        <meta name="twitter:image" content="{% static 'img/disco-og.png' %}">
        <meta property="og:image" content="{% static 'img/disco-og.png' %}">

        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website">

        {% if request.in_preview_panel %}<base target="_blank">{% endif %}

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        <link rel="stylesheet" href="{% static 'css/bundle.css' %}">

        {% block extra_css %}{% endblock extra_css %}

        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

        <script defer data-domain="disco.si" src="https://plausible.lb.djnd.si/js/plausible.js"></script>

    </head>

    <body class="{% block body_class %}{% endblock body_class %}">
        {% wagtailuserbar %}

        <div class="page-wrapper">
            {% block header %}{% endblock header %}
            <main class="page-content">
                {% block content %}{% endblock content %}
            </main>

            <footer>
                {% include 'home/partials/register_banner.html' %}
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <p>
                                You can reach us at <a href="mailto:info@disco.si">info@disco.si</a>.
                            </p>
                            <div class="social-media">
                                <a href="/" target="_blank" class="icon d-flex align-items-center justify-content-center">
                                    <img src="/static/img/social/twitter.svg" />
                                </a>
                                <a href="/" target="_blank" class="icon d-flex align-items-center justify-content-center">
                                    <img src="/static/img/social/mastodon.svg" />
                                </a>
                                <a href="/" target="_blank" class="link">Privacy policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {% block extra_js %}{% endblock extra_js %}
        <script type="module" src="{% static 'js/spinning-banner.js' %}"></script>
    </body>
</html>
